.wrapper-file {
    line-height: 5px !important;
    margin-bottom: 1px;
}

.wrapper-all-folder {
    text-align: left;
    margin-bottom: 5px;
}

.wrapper-doc {
    text-align: left;
}

   .item-folder  img,
   .item-folder  h2 {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;

   }
   .item-folder > img {
        max-width: 35px;
        width: 100%;
   }

   .title-h2{
        font-size: 30px !important;
        margin: 0 !important;
        line-height: 10px;
        /*text-transform: uppercase;*/
   }

  .img-tipo {
        max-width: 35px;
        width: 100%;  
  }

.add {
    margin-bottom: 25px;
    text-align: left;
}

   .add  img,
   .add  h2 {
        display: inline-block;
        vertical-align: middle;
        padding: 5px;

   }

   .add .imagen {
        max-width: 45px;
        width: 100%;    
   }

   .file {
    width: 50%;
   }

   .boton-move {
    text-align: right;
    margin-right: 370px;
    margin-top: -63px;
   }

