
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;

}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #6eba3c; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-family: 'Josefin Sans', sans-serif; font-size: 48px; font-weight: 300; color: #555; line-height: 56px; }
h3 { font-family: 'Josefin Sans', sans-serif; font-size: 32px; font-weight: 300; color: #555; line-height: 40px; }

img { 
	max-width: 100%; 
}

.medium-paragraph { font-size: 18px; line-height: 34px; }

.colored { color: #6eba3c; }

::-moz-selection { background: #6eba3c; color: #fff; text-shadow: none; }
::selection { background: #6eba3c; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 160px; margin: 0 auto; border-bottom: 1px dashed #ccc; }


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	padding-top: 0;
	background: #fff;
	border: 0;
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar-no-bg {
	padding-top: 10px; 
	background: none;
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
}

ul.navbar-nav {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	color: #888;
	font-weight: 400;
	text-transform: uppercase;
}

ul.navbar-nav li a { background: none; color: #888; border: 0; }
ul.navbar-nav li a:hover { background: none; color: #aaa; border: 0; }
ul.navbar-nav li a:focus { background: none; color: #aaa; outline: 0; border: 0; }

.navbar-no-bg ul.navbar-nav { color: #fff; }
.navbar-no-bg ul.navbar-nav li a { color: #fff; }
.navbar-no-bg ul.navbar-nav li a:hover { color: #ddd; }
.navbar-no-bg ul.navbar-nav li a:focus { color: #ddd; }

ul.navbar-nav li a.btn-link-3 {
	position: relative;
	display: inline-block;
	margin: 9px 0 0 15px;
	padding: 6px 15px;
	background: #6eba3c;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
ul.navbar-nav li a.btn-link-3:hover,
ul.navbar-nav li a.btn-link-3:focus,
ul.navbar-nav li a.btn-link-3:active,
ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; background: #63a736; color: #fff; }

.navbar-brand {
	width: 102px;
	background: url(assets/img/img.png) left center no-repeat;
	text-indent: -99999px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }

.navbar-no-bg .navbar-brand { background-image: url(./img/img.png); }

.navbar-toggle .icon-bar { background: #555; }


/***** Top content *****/

.top-content { padding: 25px 0 25px 0; }

.top-content .text { padding-top: 60px; color: #fff; }
.top-content .text h1 { color: #fff; }

.top-content .description { margin: 30px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }


/***** Features *****/

.features-box { margin-top: 30px; text-align: left; }
.features-box .features-box-icon { font-size: 60px; color: #6eba3c; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

footer { 
	padding: 40px 0 45px 0; 
	background: #f8f8f8; 
	align-self: flex-end;
}

.footer-copyright { padding-top: 15px; }
.footer-copyright a { color: #888; border-bottom: 1px dotted #888; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #888; border: 0; }



/***** MEDIA QUERIES *****/


@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }
	
	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

}

@media (max-width: 767px) {
	
	.navbar { padding-top: 0; background: #fff; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { border-color: transparent; }
	ul.navbar-nav li a.btn-link-3 { margin: 10px; }
	
	.navbar-no-bg {
		-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar-no-bg .navbar-brand { background-image: url(assets/img/img2.png); }
	
	.navbar-no-bg ul.navbar-nav { color: #888; }
	.navbar-no-bg ul.navbar-nav li a { color: #888; }
	.navbar-no-bg ul.navbar-nav li a:hover { color: #aaa; }
	.navbar-no-bg ul.navbar-nav li a:focus { color: #aaa; }
	
	.navbar-no-bg ul.navbar-nav li a.btn-link-3 { color: #fff; }
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:hover,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:focus,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active:focus { color: #fff; }
	
	/* end navbar */
	
	.section-description p { padding: 0; }
	
	.top-content { padding: 40px 0 60px 0; }
	
	.features-box { text-align: center; }
	.features-box h3 { margin-top: 5px; padding-top: 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 36px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
    	background-image: url(assets/img/img.png) !important; background-repeat: no-repeat !important; background-size: 102px 32px !important;
    }
    
    /*.navbar-no-bg .navbar-brand { background-image: url(assets/img/img.png); }*/
	
}

.backstretch {
	height: 230px !important;
}

.backstretch img {
	transform: translateY(-185px) !important;
}

.medium-paragraph {
	font-size: 20px !important;
}

.form-control {
	height: 65px;
	font-size: 25px;
	color: #99422F;
}
.centrar {
	text-align: center;
}
.bajar {
	margin-top: 15px;
}

/* lineas
================================================= */
.line{
    width: 100%;
    height: 3px;
    /*background-color: #1C22B0;*/
    background-color: #99422F;

}

.titulo-seccion{
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: -10px;
    color: #99422F;
}

.top-generico{
    margin-top: 1em;
}

.top-generico-footer{
    margin-top: 2em;
}

.bottom-generico{
    margin-bottom: 2em;
}

.bottom-generico-2{
    margin-bottom: 5em;
}

.bottom-generico-m{
    margin-bottom: 2em;
}

@media screen and (max-width: 992px){
    div[data-line="movil"]{
        margin-bottom: 1.5em;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

@media screen and (max-width:767px ){
    [data-info="linea-sh"]{
        background-color: transparent;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .titulo-seccion{
        font-size: 1em;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

@media screen and (max-width: 499px){
    .titulo-seccion{
        font-size: .8em;
        letter-spacing: 5px;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

label {
	color: #99422F;
}

.upper {
	text-transform: uppercase;
}

.boton {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #030e9e;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #e9e9e9;

}
.boton:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

}
.boton-formulario .boton{
    padding: 10px 30px;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.boton-1f:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #030e9e;
}

.boton-1f:hover,
.boton-1f:active {
    color: #fff;
    z-index: 3;
    border-radius: 6px;
}

.boton-1f:hover:after,
.boton-1f:active:after {
    width: 100%;
}

.boton3 {
	color: #99422F !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	border-color: #99422F;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
  }
  .boton3:hover {
	background: #99422F;
	color: #fff !important;
  }

  .left {
  	text-align: left;
  }

.boton_close {
	color: red !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	border-color: red;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
  }
  .boton_close:hover {
	background: red;
	color: #fff !important;
  }
  .modal-header .close {
  	margin-top: -25px !important;
  }
  .modal-title {
  	color: #99422F !important;
  	font-size: 20px !important;	
  }

 .abono {
 	height: 55px !important;
 }
 tr {
 	color: #99422F !important;
 }

.close {
	color: red !important;
	opacity: none !important;
}

.img-edit {
	width: 10%;
}
.img-caso {
	width: 25px;
}
.ocultar {
	display: none;
}