@font-face {
  font-family: 'iconos-web-muni';
  src:  url('fonts/iconos-web-muni.eot?ph4qn7');
  src:  url('fonts/iconos-web-muni.eot?ph4qn7#iefix') format('embedded-opentype'),
    url('fonts/iconos-web-muni.ttf?ph4qn7') format('truetype'),
    url('fonts/iconos-web-muni.woff?ph4qn7') format('woff'),
    url('fonts/iconos-web-muni.svg?ph4qn7#iconos-web-muni') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos-web-muni' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bomberos_Municipales:before {
  content: "\e400";
  color: #83bd3f;
}
.icon-Bomberos_Voluntarios:before {
  content: "\e401";
  color: #ed1c24;
}
.icon-Call_Center:before {
  content: "\e402";
  color: #83bd3f;
}
.icon-Cruz_Roja:before {
  content: "\e403";
  color: #ed1c24;
}
.icon-Facebook:before {
  content: "\e404";
  color: #83bd3f;
}
.icon-Conred:before {
  content: "\e405";
  color: #f05a29;
}
.icon-Igss:before {
  content: "\e406";
  color: #1b1464;
}
.icon-Instagram:before {
  content: "\e407";
  color: #83bd3f;
}
.icon-PMT:before {
  content: "\e40a";
  color: #83bd3f;
}
.icon-PNC:before {
  content: "\e40b";
  color: #1b1464;
}
.icon-Roosevelt:before {
  content: "\e40c";
  color: #1b1464;
}
.icon-San_Juan-_De-_Dios:before {
  content: "\e40d";
  color: #1b1464;
}
.icon-Twitter:before {
  content: "\e40e";
  color: #83bd3f;
}
.icon-You_tube:before {
  content: "\e40f";
  color: #83bd3f;
}
